body {
    font-size: 62.5%;
    background-color: $backgroundColor;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
}

h1, h2, h4 {
    font-family: $headingFont;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6rem;
    letter-spacing: 8px;
    text-shadow: 8px 6px $accentColor;
}

h2 {
    letter-spacing: 5px;
    font-size: 3.5rem;
    text-shadow: 4px 4px $accentColor;
}

h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

h4 {
    letter-spacing: 3px;
    font-size: 1.9rem;
}

h3, p, a, li {
    font-family: $contentFont;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

p {
    letter-spacing: 1.3px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
}

li {
    list-style: none;
}

.fatText {
    font-weight: 900;
}

.board {
    margin: 30px auto;
    width: 420px;
}

.boardContainer {
    padding: 20px 0px;
    margin-top: 30px;
    min-height: 70vh;
    text-align: center;
    .player1 {
        background-color: $contentColor;
        box-shadow: 20px 20px $accentColor;
        padding-bottom: 20px;
        h2 {
            text-transform: uppercase;
            color: $accentColor;
            font-size: 5rem;
            text-shadow: 5px 5px $backgroundColor;
        }
        p {
            font-size: 2rem;
            text-transform: uppercase;
            color: $accentColor;
            font-weight: 900;
        }    
        td {
            width: 60px;
            height: 60px;
            color: $contentColor;
            font-weight: 900;
            font-size: 1.3rem;
            font-family: $contentFont;
            background-color: $accentColor;
        }
        .shipHit {
            background-color: $backgroundColor;
        }
        .blankHit {
            background-color: white;
        }
        button {
            border: none;
            margin-top: 15px;
            text-transform: uppercase;
            font-family: $headingFont;
            letter-spacing: 5px;
        }
        button:hover {
            cursor: pointer;
        }
        .boomRockets {
            padding: 15px 0px;
            background-color: $accentColor;
            color: $contentColor;
            box-shadow: 5px 5px $backgroundColor;
        }
        .boomRockets:hover,
        .boomRockets:focus {
            background-color: darken($accentColor, 10%);
        }
    }
    .player2 {
        background-color: $accentColor;
        box-shadow: 20px 20px $contentColor;
        padding-bottom: 20px;
        h2 {
            text-transform: uppercase;
            color: $contentColor;
            font-size: 5rem;
            text-shadow: 5px 5px $backgroundColor;
        }
        p {
            font-size: 2rem;
            text-transform: uppercase;
            color: $contentColor;
            font-weight: 900;
        }  
        td {
            width: 60px;
            height: 60px;
            color: $accentColor;
            font-weight: 900;
            font-size: 1.3rem;
            font-family: $contentFont;
            background-color: $contentColor;
        }
        .shipHit {
            background-color: $backgroundColor;
        }
        .blankHit {
            background-color: white;
        }
        button {
            border: none;
            margin-top: 15px;
            text-transform: uppercase;
            font-family: $headingFont;
            letter-spacing: 5px;
        }
        button:hover {
            cursor: pointer;
        }
        .boomRockets {
            padding: 15px 0px;
            background-color: $contentColor;
            color: $accentColor;
            box-shadow: 5px 5px $backgroundColor;
        }
        .boomRockets:hover,
        .boomRockets:focus {
            background-color: darken($contentColor, 10%);
        }
    }
    .input {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-size: 1.5rem;
        input {
            font-family: $headingFont;
            text-transform: uppercase;
            text-align: center;
            font-size: 2rem;
            letter-spacing: 8px;
        }
    }
}
.nextPlayer {
    background-color: lighten(white, 20);
    color: $backgroundColor;
    box-shadow: 20px 20px $accentColor;
    padding: 10px 10px;
    margin: 10px 0px;
    font-size: 3rem;
    border: none;
    text-transform: uppercase;
    font-family: $headingFont;
}
.nextPlayer:hover,
.nextPlayer:focus {
    cursor: pointer;
    border: 2px solid $contentColor;
}

.displayNone {
    display: none;
}