body {
    font-size: 62.5%;
    background-color: $backgroundColor;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
}

h1, h2, h4 {
    font-family: $headingFont;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6rem;
    letter-spacing: 8px;
    text-shadow: 8px 6px $accentColor;
}

h2 {
    letter-spacing: 5px;
    font-size: 3.5rem;
    text-shadow: 4px 4px $accentColor;
}

h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

h4 {
    letter-spacing: 3px;
    font-size: 1.9rem;
}

h3, p, a, li {
    font-family: $contentFont;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

p {
    letter-spacing: 1.3px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
}

li {
    list-style: none;
}

.fatText {
    font-weight: 900;
}

.board {
    // border: 1px solid red;
    width: 420px;
}

td {
    width: 60px;
    height: 60px;
    font-size: 1.3rem;
    font-family: $contentFont;
    background-color: $accentColor;
}

.boardContainer {
    padding: 20px 0px;
    margin-top: 30px;
    background-color: $contentColor;
    min-height: 70vh;
    text-align: center;
    box-shadow: 20px 20px $accentColor;
    h2 {
        text-transform: uppercase;
        color: $accentColor;
        font-size: 6rem;
        text-shadow: 5px 5px $backgroundColor;
    }
    p {
        font-size: 2rem;
        text-transform: uppercase;
        color: $accentColor;
        font-weight: 900;
    }
    .board {
        margin: 50px auto;
    }

    .input {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-size: 1.5rem;
        input {
            font-family: $headingFont;
            text-transform: uppercase;
            text-align: center;
            font-size: 2rem;
            letter-spacing: 8px;
        }
        button {
            border: none;
            margin-top: 15px;
            text-transform: uppercase;
            font-family: $headingFont;
            padding: 15px 0px;
            letter-spacing: 5px;
            font-size: 2rem;
            background-color: $backgroundColor;
            color: $contentColor;
            box-shadow: 5px 5px $accentColor;
        }
    }
}

.shipHit {
    background-color: red;
}

.blankHit {
    background-color: gray;
}

.normal {
    background-color: white;
}

// .board {
//     display: flex;
//     flex-wrap: wrap;
//     width: 400px;
//     .cell {
//         width: 10%;
//         height: 40px;
//         display: inline-block;
//         background-color: salmon;
//         border: 1px solid black;
//     }

//     .cells2 {
//         width: 10%;
//         height: 40px;
//         display: inline-block;
//         background-color: black;
//         border: 1px solid salmon;
//     }
// }