header, main, footer {
    background-color: $backgroundColor;
    h1, h2, h3, h4, p, a, li {
        color: $contentColor;
    }
}

header, main {
    text-align: center;
}

header {
    padding-top: 50px;
}

main {
    padding: 50px 0px;
    ul {
        width: 65%;
        padding: 0;
        margin: 15px auto;
        li {
            text-transform: uppercase;
            font-size: 1.5rem;
            line-height: 1.4;
            margin: 10px 0px;
            p {
                font-size: 1.15rem;
                padding-bottom: 20px;
                border-bottom: 2px solid $accentColor;
            }
        }
    }
    .battleLink {
        margin-bottom: 40px;
        .enterBattle {
            font-size: 4.6rem;
            text-transform: uppercase;
            font-family: $headingFont;
            background-color: $accentColor;
            box-shadow: 10px 10px $contentColor;
            padding: 0px 20px;
            transition: all 0.2s ease;
        }
        .enterBattle:hover,
        .enterBattle:focus {
            background-color: darken($accentColor, 10%);
            box-shadow: 10px 10px darken($contentColor, 10%);
        }
        .enterBattle:active {
            box-shadow: 8px 8px $contentColor;
        }
    }
}

footer {
    h4 {
        font-family: $contentFont;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    a {
        font-family: $headingFont;
    }
    text-align: center;
    .creators {
        margin: 10px 0px;
        a {
            font-size: 1.5rem;
            margin: 0px 10px;
            text-transform: uppercase;
        }
    }
    .credits {
        a {
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
}
