
.modalOverlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  opacity: 4%;
}

.modal {
  max-height: 420px;
  background: white;
  animation: slidein 0.5s;
  z-index: 20;
  width: 50%;
  min-width: 320px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  border: 5px solid blue;
  border-radius: 3px;
  text-align: left;
  .closeModal {
    font-size: 3rem;
    margin-left: 15px;
    color: blue;
    border: none;
    background: transparent;
  }
  .closeModal:hover,
  .closeModal:focus {
    cursor: pointer;
    color: darken(blue, 10%);
  }
}

/* Modal Animation */
@keyframes slidein {
  from {top: -800px; opacity: 0};
}