html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-size: 62.5%;
  background-color: #003049;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
}

h1, h2, h4 {
  font-family: "Teko", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6rem;
  letter-spacing: 8px;
  text-shadow: 8px 6px #D62828;
}

h2 {
  letter-spacing: 5px;
  font-size: 3.5rem;
  text-shadow: 4px 4px #D62828;
}

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

h4 {
  letter-spacing: 3px;
  font-size: 1.9rem;
}

h3, p, a, li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  letter-spacing: 1.3px;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
}

li {
  list-style: none;
}

.fatText {
  font-weight: 900;
}

.board {
  margin: 30px auto;
  width: 420px;
}

.boardContainer {
  padding: 20px 0px;
  margin-top: 30px;
  min-height: 70vh;
  text-align: center;
}

.boardContainer .player1 {
  background-color: #FCBF49;
  -webkit-box-shadow: 20px 20px #D62828;
          box-shadow: 20px 20px #D62828;
  padding-bottom: 20px;
}

.boardContainer .player1 h2 {
  text-transform: uppercase;
  color: #D62828;
  font-size: 5rem;
  text-shadow: 5px 5px #003049;
}

.boardContainer .player1 p {
  font-size: 2rem;
  text-transform: uppercase;
  color: #D62828;
  font-weight: 900;
}

.boardContainer .player1 td {
  width: 60px;
  height: 60px;
  color: #FCBF49;
  font-weight: 900;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  background-color: #D62828;
}

.boardContainer .player1 .shipHit {
  background-color: #003049;
}

.boardContainer .player1 .blankHit {
  background-color: white;
}

.boardContainer .player1 button {
  border: none;
  margin-top: 15px;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  letter-spacing: 5px;
}

.boardContainer .player1 button:hover {
  cursor: pointer;
}

.boardContainer .player1 .boomRockets {
  padding: 15px 0px;
  background-color: #D62828;
  color: #FCBF49;
  -webkit-box-shadow: 5px 5px #003049;
          box-shadow: 5px 5px #003049;
}

.boardContainer .player1 .boomRockets:hover,
.boardContainer .player1 .boomRockets:focus {
  background-color: #ab2020;
}

.boardContainer .player2 {
  background-color: #D62828;
  -webkit-box-shadow: 20px 20px #FCBF49;
          box-shadow: 20px 20px #FCBF49;
  padding-bottom: 20px;
}

.boardContainer .player2 h2 {
  text-transform: uppercase;
  color: #FCBF49;
  font-size: 5rem;
  text-shadow: 5px 5px #003049;
}

.boardContainer .player2 p {
  font-size: 2rem;
  text-transform: uppercase;
  color: #FCBF49;
  font-weight: 900;
}

.boardContainer .player2 td {
  width: 60px;
  height: 60px;
  color: #D62828;
  font-weight: 900;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  background-color: #FCBF49;
}

.boardContainer .player2 .shipHit {
  background-color: #003049;
}

.boardContainer .player2 .blankHit {
  background-color: white;
}

.boardContainer .player2 button {
  border: none;
  margin-top: 15px;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  letter-spacing: 5px;
}

.boardContainer .player2 button:hover {
  cursor: pointer;
}

.boardContainer .player2 .boomRockets {
  padding: 15px 0px;
  background-color: #FCBF49;
  color: #D62828;
  -webkit-box-shadow: 5px 5px #003049;
          box-shadow: 5px 5px #003049;
}

.boardContainer .player2 .boomRockets:hover,
.boardContainer .player2 .boomRockets:focus {
  background-color: #fbad17;
}

.boardContainer .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  font-size: 1.5rem;
}

.boardContainer .input input {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 8px;
}

.nextPlayer {
  background-color: white;
  color: #003049;
  -webkit-box-shadow: 20px 20px #D62828;
          box-shadow: 20px 20px #D62828;
  padding: 10px 10px;
  margin: 10px 0px;
  font-size: 3rem;
  border: none;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
}

.nextPlayer:hover,
.nextPlayer:focus {
  cursor: pointer;
  border: 2px solid #FCBF49;
}

.displayNone {
  display: none;
}

header, main, footer {
  background-color: #003049;
}

header h1, header h2, header h3, header h4, header p, header a, header li, main h1, main h2, main h3, main h4, main p, main a, main li, footer h1, footer h2, footer h3, footer h4, footer p, footer a, footer li {
  color: #FCBF49;
}

header, main {
  text-align: center;
}

header {
  padding-top: 50px;
}

main {
  padding: 50px 0px;
}

main ul {
  width: 65%;
  padding: 0;
  margin: 15px auto;
}

main ul li {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 10px 0px;
}

main ul li p {
  font-size: 1.15rem;
  padding-bottom: 20px;
  border-bottom: 2px solid #D62828;
}

main .battleLink {
  margin-bottom: 40px;
}

main .battleLink .enterBattle {
  font-size: 4.6rem;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  background-color: #D62828;
  -webkit-box-shadow: 10px 10px #FCBF49;
          box-shadow: 10px 10px #FCBF49;
  padding: 0px 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main .battleLink .enterBattle:hover,
main .battleLink .enterBattle:focus {
  background-color: #ab2020;
  -webkit-box-shadow: 10px 10px #fbad17;
          box-shadow: 10px 10px #fbad17;
}

main .battleLink .enterBattle:active {
  -webkit-box-shadow: 8px 8px #FCBF49;
          box-shadow: 8px 8px #FCBF49;
}

footer {
  text-align: center;
}

footer h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

footer a {
  font-family: "Teko", sans-serif;
}

footer .creators {
  margin: 10px 0px;
}

footer .creators a {
  font-size: 1.5rem;
  margin: 0px 10px;
  text-transform: uppercase;
}

footer .credits a {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.modalOverlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  opacity: 1.0;
}

.modal {
  min-height: 350px;
  max-height: 500px;
  background: white;
  -webkit-animation: slidein 0.5s;
          animation: slidein 0.5s;
  z-index: 20;
  width: 50%;
  min-width: 60vw;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  border: 20px solid #003049;
  border-radius: 3px;
  text-align: left;
}

.modal .closeModal {
  font-size: 4rem;
  margin-left: 20px;
  padding: 0px;
  color: #003049;
  background-color: white;
}

.modal .errorMessage {
  margin: 10px 30px;
}

.modal .errorMessage h3 {
  margin-bottom: 40px;
}

.modal .hit {
  margin: 10px 30px;
}

.modal .hit h3 {
  font-size: 5rem;
  color: #FCBF49;
  text-shadow: 5px 5px #D62828;
}

.modal .hit p {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: none;
}

.modal .hit .extraInfo {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #FCBF49;
  text-shadow: 2px 2px #D62828;
}

.modal .hit .extraInfo:hover,
.modal .hit .extraInfo:focus {
  color: #fbad17;
}

.modal .hit .imgContainer {
  margin-top: 20px;
}

.modal .hit .imgContainer img {
  width: 100%;
  display: inline-block;
}

.modal .closeModal:hover,
.modal .closeModal:focus {
  cursor: pointer;
  color: #D62828;
}

/* Modal Animation */
@-webkit-keyframes slidein {
  from {
    top: -800px;
    opacity: 0;
  }
}
@keyframes slidein {
  from {
    top: -800px;
    opacity: 0;
  }
}

@media (max-width: 1155px) {
  main {
    padding-bottom: 40px;
  }
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  main .battleLink .enterBattle {
    font-size: 3.5rem;
  }
  main ul {
    width: 100%;
  }
  footer h4 {
    font-size: 1rem;
  }
  footer .creatorsLinks a, footer .credits a {
    font-size: 1.2rem;
    margin-right: 5px;
  }
  footer .creators {
    margin-top: 2px;
  }
}

@media (max-width: 850px) {
  .boardContainer h2 {
    font-size: 4rem;
  }
  .boardContainer p {
    font-size: 1.5rem;
  }
  .modal {
    min-width: 80vw;
  }
  .modal .hit h3 {
    font-size: 3rem;
  }
}

@media (max-width: 780px) {
  h1 {
    font-size: 5rem;
  }
  main ul {
    margin: 0;
  }
  footer .creators a {
    margin: 5px;
  }
}

@media (max-width: 726px) {
  main {
    padding: 25px 0px;
  }
  h1 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  main .battleLink .enterBattle {
    font-size: 2.5rem;
  }
  main ul {
    width: 100%;
  }
  main ul li p {
    font-size: 0.8rem;
  }
  .board {
    width: auto;
  }
  .boardContainer .player1 h2 {
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 3px 3px #003049;
  }
  .boardContainer .player1 td {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }
  .boardContainer .player1 p {
    font-size: 1.3rem;
  }
  .boardContainer .player2 h2 {
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 3px 3px #003049;
  }
  .boardContainer .player2 td {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }
  .boardContainer .player2 p {
    font-size: 1.3rem;
  }
  .boardContainer .player1 td {
    width: 45px;
    height: 45px;
    font-size: 0.8rem;
  }
  .boardContainer .player2 td {
    width: 45px;
    height: 45px;
    font-size: 0.8rem;
  }
  .boardContainer .input {
    width: 60%;
    margin: 40px auto;
  }
  .boardContainer .input button {
    font-size: 1.2rem;
    padding: 5px 0px;
  }
  table {
    margin: 0 auto;
  }
  .modal .hit h3 {
    font-size: 2.5rem;
    text-shadow: 3px 3px #D62828;
  }
  .modal .hit p {
    font-size: 1rem;
  }
  .modal .hit .extraInfo {
    font-size: 1.5rem;
  }
  .nextPlayer {
    font-size: 2rem;
  }
  footer h4 {
    font-size: 0.8rem;
  }
  footer .creators .creatorsLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .creators .creatorsLinks a {
    margin: 5px 0px;
    font-size: 1.2rem;
  }
  footer .credits a {
    font-size: 1.2rem;
  }
}

@media (max-width: 555px) {
  header {
    padding-top: 20px;
  }
  h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    text-shadow: 5px 4px #D62828;
  }
  h3 {
    font-size: 1rem;
  }
  main {
    padding: 0px;
  }
  main h2 {
    padding-top: 10px;
  }
  main ul {
    width: 100%;
  }
  main ul li p {
    padding-bottom: 10px;
  }
  main .battleLink {
    margin-top: 35px;
  }
  main .battleLink .enterBattle {
    padding: 5px 5px;
    font-size: 2rem;
    -webkit-box-shadow: 8px 8px #FCBF49;
            box-shadow: 8px 8px #FCBF49;
  }
  .boardContainer .player1 td {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }
  .boardContainer .player2 td {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }
  .modal .hit h3 {
    font-size: 1.7rem;
    text-shadow: 2px 2px #D62828;
  }
  .modal .hit p {
    font-size: 0.9rem;
  }
  .modal .hit .extraInfo {
    font-size: 1.2rem;
  }
  footer {
    padding-top: 40px;
  }
  footer .creators .creatorsLinks {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .creators .creatorsLinks a {
    margin: 5px 0px;
    font-size: 1rem;
  }
  footer .credits a {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=App.css.map */